.form {
  display: flex;
  flex-direction: column;
  gap: var(--sys-space-lg);
}

.form label {
  display: flex;
  flex-direction: column;
  gap: var(--sys-space-sm);
  font-size: var(--sys-typescale-label-size);
  font-weight: var(--sys-font-weight-bold);
}
