.link {
  color: var(--sys-color-on-surface);
  font-family: var(--sys-font-family-ui);
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.arrow {
  display: inline-flex;
  font-size: 0.9em;
  margin-inline-start: 0.3em;
  vertical-align: -0.08em;
}

.link:hover {
  text-decoration-thickness: var(--sys-border-width-thick);
}

.link:focus-visible {
  outline: var(--sys-border-width-thick) solid currentcolor;
  outline-offset: var(--sys-space-2xs);
}
